# This is an example environment file that contains some of the required environment variables.
#
# WARNING: This should NOT be used as an actual environment file as it is NOT ignored by git. Please create a different
#          .env file, update the config to point to that and then delete this file.

BROWSERSTACK_AUTOMATE_URL=...
LAMBDA_TEST_AUTOMATION_URL=...
APPIUM_SERVER_URL=...